{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="http://62.173.183.235:8806/assets/favicon.ico">
    <title style="text-align:center;">MAGI WEB APP</title>
  </head>

  <body>
    <div id="app">
      <app></app>
    </div>

    {% render_bundle 'app' %}

    <!-- built files will be auto injected -->
  </body>
</html>
