{% extends "base.html" %}
{% load static %}

{% block style %}
    <link type="text/css" href="{% static 'bundle.css' %}">
{% endblock %}

{% block content %}
    <noscript>
        <strong>
            Ci spiace, ma il frontend non funziona senza JavaScript abilitato. Abilita JavaScript per continuare!
        </strong>
    </noscript>
    <div id="app"></div>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'bundle.js' %}"></script>
{% endblock %}
