<!-- """    *** ****  ****  **** ****     18 FEBRUARY 2022    """ """ """  """ """ """

AUTHOR: ING. MUHARREM DAJA

CONTACT: REMIDAJA@OUTLOOK.COM || MUHARREM.DAJA@FTI.EDU.AL

""" """ """  """ """ """  """ """ """  """ """ """  """ """ """  """ """ """  """ -->
<template>
  <div class="info">
    <div class="hero is-info">
      <div class="hero-body has-text-centered">
        <h1 class="title">Info</h1>
      </div>
    </div>
    <section class="section">
      <h1>This is an info page</h1>
    </section>
  </div>
</template>
