<!-- """    *** ****  ****  **** ****     18 FEBRUARY 2022    """ """ """  """ """ """

AUTHOR: ING. MUHARREM DAJA

CONTACT: REMIDAJA@OUTLOOK.COM || MUHARREM.DAJA@FTI.EDU.AL

""" """ """  """ """ """  """ """ """  """ """ """  """ """ """  """ """ """  """ -->
<template>
  <div class="variants">
    <div class="hero is-info">
      <div class="hero-body has-text-centered">
        <h1 class="title">VARIANTS</h1>
      </div>
    </div>
    <div class="column is-2 is-offset-9">
      <router-link to="/dashboard/varsome" class="button is-primary">Go back</router-link>
      <router-link to="/log-in" class="button is-danger">Log out</router-link>
    </div>
    <section class="section">
      <router-link to="/dashboard/my-account" class="button is-danger">Go back</router-link>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="container">
        <div class="columns">
          <div class=" column is-8 is-offset-5">
            <form v-on:submit.prevent="submitForm">
              <div class="file is-primary">
                <label class="file-label">
                  <input class="file-input" type="file" ref="myvariants" @change="previewFile" multiple>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Upload a file with variants
                    </span>
                  </span>
                </label>
              </div>
              <br>
              <br>
              <br>
              <div class=" column is-0 is-offset-0">
                <div class="control">
                  <button class="button is-primary">SEND TO DATABASE</button>
                </div>
              </div>
              <div class="notification is-danger" v-if="errors.length">
                <p v-for="error in errors" v-bind:key="error">{{error}}</p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <br>
      <br>
      <router-link to="/log-in" class="button is-danger">Log out</router-link>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      variants: [],
      errors: [],
    }
  },
  methods: {
    submitForm() {
      console.log('this is')
    },
    previewFile() {
      this.variants = this.$refs.myvariants.variants
      console.log('my variants')
      console.log(this.variants)
    }
  }
}
</script>
