<!-- """    *** ****  ****  **** ****     18 FEBRUARY 2022    """ """ """  """ """ """

AUTHOR: ING. MUHARREM DAJA

CONTACT: REMIDAJA@OUTLOOK.COM || MUHARREM.DAJA@FTI.EDU.AL

""" """ """  """ """ """  """ """ """  """ """ """  """ """ """  """ """ """  """ -->
<template>
  <div class="varsome">
    <div class="hero is-info">
      <div class="hero-body has-text-centered">
        <h1 class="title">VARSOME </h1>
      </div>
      <div class="hero-body has-text-centered">
        <!-- <h1 class="title">VARSOME {{utente_id}} </h1> -->
        <p v-if="goFive"> idddddddddddd {{getFive()}}</p>
        <!-- <p v-if="samples_five != null && doStart"> idddddddddddd five {{samples_five.slice(0,5)}}</p> -->
      </div>
    </div>
    <div class="column is-3 is-offset-9">
      <router-link to="/dashboard/variants" class="button is-primary">GO TO VARIANTS</router-link>
      <router-link to="/dashboard/my-account" class="button is-primary">Go back</router-link>
      <router-link to="/log-in" class="button is-danger">Log out</router-link>
    </div>
    <section class="leftpane">
      <!-- <div v-for="el in samples_acept2" v-bind:key="el">
        <p v-for="el2 in el" :key="el2.pk">{{el2.sample_id}}</p>
      </div> -->
      <!-- <button type="button" name="button" @click="elaborateSamples()">ELABORATE </button> -->
      <!-- {{final_data}} -->
      <!-- <p v-if="group_id != null">yes {{elaborateSamples()}}</p> -->
      <h1 v-if="group_id != null && activateSample">fdsfds {{group_id[0]['groups'][1]}}  {{getSamplesAceptFilter()}} </h1>
      <!-- <h1 v-if="search == '' && doStart == false">fdsfds {{group_id[0]['groups'][1]}}  {{getSamplesAcept()}} </h1> -->
      <input type="text" class="input-search" v-model="search" placeholder="Search..."  />
      <!-- {{filterSamples()}} -->
      <!-- <div v-if="samples_five != null && doStart && search == ''" style="border:1px solid black;width:200px;height:100px;overflow:scroll;">
        <table class="table is-bordered is-striped is-fullwidth" align="left" >
          <tr class="th is-selected">
            <th>SAMPLE ID</th>
            <th>PANEL</th>
            <th>DATE OF SAMPLE</th>
            <th>GENETISTA</th>
          </tr>
          <tr v-for="sample in samples_five.slice(0,5)" v-bind:key="sample.pk" class="demo" >
            <td>{{ sample.sample_id }}</td>
            <td>{{ sample.codice_pannello }}</td>
            <td>{{ sample.timestamp_sample }}</td>
            <td>{{ sample.genetista }}</td>
          </tr>
        </table>
      </div> -->
      <!-- <div v-if="samples_aceptfilter != null && search != '' ">
        <table class="table is-bordered is-striped is-fullwidth" align="left" >
          <tr class="th is-selected">
            <th>SAMPLE ID</th>
            <th>PANEL</th>
            <th>DATE OF SAMPLE</th>
            <th>GENETISTA</th>
          </tr>
          <tr v-for="sample in filterSamples()" v-bind:key="sample.pk" class="demo" >
            <td>{{ sample.sample_id }}</td>
            <td>{{ sample.codice_pannello }}</td>
            <td>{{ sample.timestamp_sample }}</td>
            <td>{{ sample.genetista }}</td>
          </tr>
        </table>
      </div>
      <div v-if="search == '' && doStart == false && final_data != null ">
        <table class="table is-bordered is-striped is-fullwidth" align="left" >
          <tr class="th is-selected">
            <th>SAMPLE ID</th>
            <th>PANEL</th>
            <th>DATE OF SAMPLE</th>
            <th>GENETISTA</th>
          </tr>
          <tr v-for="sample in final_data" v-bind:key="sample.pk" class="demo" >
            <td>{{ sample.sample_id }}</td>
            <td>{{ sample.codice_pannello }}</td>
            <td>{{ sample.timestamp_sample }}</td>
            <td>{{ sample.genetista }}</td>
          </tr>
        </table>
      </div>
      <div v-if="search == '' && doStart == false && final_data==null ">
        <table class="table is-bordered is-striped is-fullwidth" align="left" >
          <tr class="th is-selected">
            <th>SAMPLE ID</th>
            <th>PANEL</th>
            <th>DATE OF SAMPLE</th>
            <th>GENETISTA</th>
          </tr>
          <tr v-for="sample in samples_five.slice(0,5)" v-bind:key="sample.pk" class="demo" >
            <td>{{ sample.sample_id }}</td>
            <td>{{ sample.codice_pannello }}</td>
            <td>{{ sample.timestamp_sample }}</td>
            <td>{{ sample.genetista }}</td>
          </tr>
        </table>
      </div> -->
      <div style="border:1px solid black;width:200px;height:100px;overflow:scroll;">
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <p>yessssssssssssssssssssssssssssssssssssssss</p>
        <!-- <button type="button" name="button" @click="getSamplesAcept()">CLICK</button> -->
      </div>

    </section>
  </div>
</template>
<script>
import axios from 'axios'
import { mapGetters } from 'vuex'


export default {
  data() {
    return {
      inputdata: '',
      sample: '',
      result: [],
      errors: [],
      msg: null,
      isSuccess: false,
      nomeutente: this.$store.getters.getName,
      samples_acept: [],
      currentPage: 1,
      hasNext: true,
      samples_acept2: [],
      samples_aceptfilter: null,
      final_data: null,
      group_id: null,
      search: '',
      activateSample: false,
      utente_id: null,
      samples_five: null,
      goFive: false,
      doStart: true,
    }
  },
  // mounted () {
  //   axios
  //     .get('/api/preselection/')
  //     .then(response => (this.msg = response.data))
  // },
  computed: {
    ...mapGetters({username: 'getName'}),
    sortData() {
      let tempData = this.samples_aceptnow
      let utente = this.$store.getters.getName
      tempData = tempData.sort((a,b) => {
        if (a.genetista_name == utente) {
          return a.genetista - b.genetista
        }
      })
      return tempData
    }
  },
  delimiters: ['[[', ']]'],
  mounted() {
    this.getGroupID()
    this.getGroupUser()
    // this.getSamplesAcept()
    window.onscroll = () => {
      let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight
      if (bottomOfWindow && this.hasNext) {
        this.currentPage += 1
        this.getSamplesAcept()
      }
    }
    // var x = 0;
    // $(document).ready(function(){
    //   $("div").scroll(function(){
    //     $("span").text( x+= 1);
    //   });
    //   $("button").click(function(){
    //     $("div").scroll();
    //   });
    // });
  },
  methods: {
    submitForm() {
      console.log('this is')
      console.log(this.inputdata)
      let n = this.inputdata.split('\n').length
      let result = []
      for(let i = 0; i < n; i++) {
        let a = this.inputdata.split('\n')[i]
        result.push(a.split('\t')[0])
      }
      this.result = [...new Set(result)]
      this.isSuccess = true
      axios({
        method:'put',
        url: '/api/preselection/' + 3 + '/' ,
        headers: {
          'Content-Type': 'application/json',
          'Authorization': 'Token ' + this.$store.getters.getToken,

        },
        data: {
          sample_id: 'E125.2001',
          hgvs: 'chr1:46195804-46195814:AACTGACCTTG/-',
          GENE: 'POMGNT1',
          acmg_verdict: this.$store.getters.getName,
          acmg_classifications: this.inputdata
        },
      })
    },
    getGroupUser() {
      let utente = this.$store.getters.getName
      axios({
        method:'get',
        url: '/api/users/?username='+utente,
        headers: {
          Authorization: 'Token '+this.$store.getters.getToken,
        }
      }).then(response => this.group_id = response.data);
      this.activateSample = true
    },
    getGroupID() {
      let utente = this.$store.getters.getName
      axios({
        method:'get',
        url: '/api/users/?username='+utente,
        headers: {
          Authorization: 'Token '+this.$store.getters.getToken,
        }
      }).then(response => this.utente_id = response.data);
      setTimeout(() => {  this.goFive = true ; }, 200);
    },
    getSamplesAcept() {
      axios({
        method:'get',
        url: '/get_samples/?page='+this.currentPage,
        headers: {
          Authorization: 'Token '+this.$store.getters.getToken,
        }
      }).then(response => {
        // return response.json()
        // this.samples_acept = response.data
        this.hasNext = false
          if(response.data.next) {
            this.hasNext = true
            this.doStart = false
          }
          for (let i = 0; i<=response.data.results.length; i++) {
            this.samples_acept.push(response.data.results)
          }
          this.samples_acept2 = [...new Set(this.samples_acept)]
      // }).then(data => {
      //   console.log(data)
      //   // this.samples_acept = 'yes'
      //   this.hasNext = false
      //   if(data.next) {
      //     this.hasNext = true
      //   }
      //   for (let i = 0; i<=data.results.length; i++) {
      //     this.samples_acept.push(data.results)
      //   }
      }).catch(error => {
        console.log(error)
      });
      setTimeout(() => {  this.elaborateSamples() ; }, 200);
      // this.showMsgVarsome = false
      // this.activateSample = false
      // setTimeout(() => {  this.responseVarsome = '' ; }, 4000);
      // this.elaborateSamples(this.samples_acept)
    },
    getFive() {
      let fil = this.utente_id
      fil = fil[0]["pk"]
      console.log('fillllllllllll', fil)
      axios({
        method:'get',
        url: '/api/sample/?genetista='+fil,
        headers: {
          Authorization: 'Token '+this.$store.getters.getToken,
        }
      }).then(response => this.samples_five = response.data);
      this.goFive = false
    },
    elaborateSamples() {
      let genetista_name = this.$store.getters.getName
      // let groups_id = this.group_id
      let fil = this.group_id[0]['groups'][1]
      let list_c = []
      let list_d = []
      let list_f
      let miodato = this.samples_acept2
      console.log('elaborate', fil)
      for (var i = 0; i < miodato.length; i++) {
        for (var j = 0; j < miodato[i].length; j++ ) {
          // console.log('jjjj', miodato[i][j]['group_user'])
          if (miodato[i][j]['group_user'] == fil) {
            // console.log('yes')
            // list_c.push(miodato[i][j])
            // console.log(list_c)
            if(miodato[i][j]['genetista']==genetista_name) {
              list_c.push(miodato[i][j])
            }
            else {
              list_d.push(miodato[i][j])
            }
          }
        }
        // console.log('iiii', miodato[i])
      }
      list_f = list_c.concat(list_d)
      this.final_data = list_f
    },
    getSamplesAceptFilter() {
      let groups_id = this.group_id
      let fil = groups_id[0]['groups'][1]
      // console.log('groups id is', groups_id)
      axios({
        method:'get',
        url: '/api/sample/?group_user='+fil,
        headers: {
          Authorization: 'Token '+this.$store.getters.getToken,
        }
      }).then(response => this.samples_aceptfilter = response.data);
      this.activateSample = false
    },
    filterSamples() {
      let genetista_name = this.$store.getters.getName
      let list_c = []
      let list_d = []
      let list_f
      let miodato = this.samples_aceptfilter
      if(miodato != null) {
        console.log('not empty')
        for (var i = 0; i < miodato.length; i++) {
          if(miodato[i].genetista == genetista_name) {
            list_c.push(miodato[i])
          }
          else {
            list_d.push(miodato[i])
          }
        }
        list_f = list_c.concat(list_d)
      }
      // console.log('yesssssssssssssssssssssssssss', genetista_name, list_f)
      // return list_f
      // added below
      if (this.search === ''){
        // this.getSamplesAcept()
        return list_f;
      }
      else {
        this.doStart = false
        let a = this.search
        a = a.toUpperCase()
        return list_f.filter((el) => {
          return el.sample_id.match(a);
        });
      }
      // setTimeout(() => {  this.doStart = true ; }, 100);
    }
  }
}
</script>
<style lang="scss">
.field-group {
    display: flex;
  }
.input-search{
  height: 40px;
  width: 135px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  float: left;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#1C1C1C;
}
.input-search::placeholder{
  color:#1C1C1C;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 40px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:#22a6b3;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search{
  width: 170px;
  border-radius: 0px;
  background-color: #22a6b3;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 170px;
  border-radius: 0px;
  background-color: #22a6b3;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.leftpane {
    width: 20%;
    height: 100%;
    float: left;
    background-color: #F0F0F0;
    font-size: 83%;
}
</style>
