<!-- """    *** ****  ****  **** ****     18 FEBRUARY 2022    """ """ """  """ """ """

AUTHOR: ING. MUHARREM DAJA

CONTACT: REMIDAJA@OUTLOOK.COM || MUHARREM.DAJA@FTI.EDU.AL

""" """ """  """ """ """  """ """ """  """ """ """  """ """ """  """ """ """  """ -->
<template>
  <div class="home">
    <div class="hero is-info is-medium" style="height:400px;">
      <div class="hero-body has-text-centered">
        <h1 class="title">Welcome to MAGI ACMG</h1>
        <h2 class="subtitle">The New World of Human Genetic</h2>
        <img src="/assets/logo_euregio.png">
        <h1 class="title">MAGI CHECKLIST</h1>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-4">
            <div class="box has-text-centered">
              <span class="icon is-size-2 has-text-info"><i class="far fa-clock"></i></span>
              <h2 class="is-size-4 mt-4 mb-4"> MAGI EUREGIO</h2>
              <p> MAGI EUREGIO SCS, Bolzano (39100), Italy</p>
            </div>
          </div>
          <div class="column is-4">
            <div class="box has-text-centered">
              <span class="icon is-size-2 has-text-info"><i class="far fa-comments"></i></span>
              <h2 class="is-size-4 mt-4 mb-4"> MAGI GROUP</h2>
              <p> MAGI GROUP, San Felice del Benaco (BS) (25010), Italy</p>
            </div>
          </div>
          <div class="column is-4">
            <div class="box has-text-centered">
              <span class="icon is-size-2 has-text-info"><i class="fas fa-home"></i></span>
              <h2 class="is-size-4 mt-4 mb-4"> MAGI'S LAB </h2>
              <p> MAGI'S Lab Srl, Rovereto (TN) (38068), Italy</p>
            </div>
          </div>
          <div class="column is-12 has-text-centered">
            <!-- <a href="#" class="button is-info is-size-3 mt-6 mb-6">Click to get started</a> -->
            <router-link to="/log-in" class="button is-info is-size-3 mt-6 mb-6">Click to get started</router-link>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>

export default {
  name: 'Home',
}
</script>
