<!-- """    *** ****  ****  **** ****     18 FEBRUARY 2022    """ """ """  """ """ """

AUTHOR: ING. MUHARREM DAJA

CONTACT: REMIDAJA@OUTLOOK.COM || MUHARREM.DAJA@FTI.EDU.AL

""" """ """  """ """ """  """ """ """  """ """ """  """ """ """  """ """ """  """ -->
<template>
  <div class="signup">
    <div class="hero is-info">
      <div class="hero-body has-text-centered">
        <h1 class="title">Sign Up</h1>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class=" column is-4 is-offset-4">
            If you need an account please contact bioinfo@assomagi.org !!!
            Or <router-link to="/log-in">click here</router-link> to log in!
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data() {
    return {
      username: '',
      password: '',
      password2: '',
      errors: []
    }
  },
  methods: {

  }
}
</script>
<style media="screen">
.button1 {
  background-color: #4CAF50;
  font-size: 24px;
}
</style>
