<!-- """    *** ****  ****  **** ****     18 FEBRUARY 2022    """ """ """  """ """ """

AUTHOR: ING. MUHARREM DAJA

CONTACT: REMIDAJA@OUTLOOK.COM || MUHARREM.DAJA@FTI.EDU.AL

""" """ """  """ """ """  """ """ """  """ """ """  """ """ """  """ """ """  """ -->
<template>
  <nav class="navbar is-info" role="navigation" aria-label="main navigation" style="min-height: 5rem;">
    <div class="navbar-brand">
      <a class="navbar-item is-size-4" href='/'>MAGI ACMG INTERPRETATION</a>
    </div>
    <div id="navbar-item" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">Home</a>
        <router-link to="/about" class="navbar-item">About</router-link>
        <router-link to="/info" class="navbar-item">Info</router-link>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <template v-if="$store.state.user.isAuthenticated">
              <a class="navbar-item is-size-4">My Account</a>
            </template>
            <template v-else>
              <router-link to="/sign-up" class="button is-primary"><strong>Sign Up</strong></router-link>
              <router-link to="/log-in" class="button is-light"> Log In</router-link>
            </template>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
